@import "tailwindcss";

/* Thêm vào index.css */
.image-sharp {
    image-rendering: auto;        /* Scale mượt */
    -webkit-optimize-contrast: auto; /* Chrome, Safari */
    image-rendering: -webkit-optimize-contrast; /* fallback */
}

.twemoji {
  width: 1em;
  height: 1em;
  vertical-align: -0.1em;
  display: inline;
}

